{{>header}}

{{!-- navbar --}}
{{>navbar}}
{{!-- navbar end--}}
<div class="columns is-variable is-0"> 
    
    {{!-- sidebar --}}
{{>sidemenu}}

    {{!-- Add customer Form --}}
       <div class="column is-10-desktop is-offset-2-desktop is-9-tablet is-offset-3-tablet is-12-mobile dashboard">
        <div class="p-3">
            <div class="columns is-variable is-desktop">
                <div class="column">
                    <h1 class="title">Edit Customer Details</h1>
                </div>
            </div>
            <div class="columns is-variable is-desktop">
                <div class="column is-three-quarters">
                    <form action="/edit/{{customer._id}}" class="box" method="POST">
                        <div class="field">
                            <label for="" class="label">Customer Name</label>
                            <div class="control has-icons-left">
                                <input type="text" placeholder="John Doe" class="input" required name="name" value="{{customer.name}}">
                                <span class="icon is-small is-left">
                                <i class="fa fa-envelope"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label for="" class="label">Customer Email</label>
                            <div class="control has-icons-left">
                                <input type="text" placeholder="johndoe@xyz.com" class="input" required name="email" value="{{customer.email}}">
                                <span class="icon is-small is-left">
                                <i class="fa fa-envelope"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label for="" class="label">Customer Phone Number</label>
                            <div class="control has-icons-left">
                                <input type="number" placeholder="9812345567" class="input" required name="phone" minlength="10" maxlength="10" value="{{customer.phone}}">
                                <span class="icon is-small is-left">
                                <i class="fa fa-envelope"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label for="" class="label">Customer Address</label>
                            <div class="control has-icons-left">
                                <input type="text" placeholder="A-24 , Downing Street" class="input" required name="address" value="{{customer.address}}">
                                <span class="icon is-small is-left">
                                <i class="fa fa-envelope"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label for="" class="label">GST number</label>
                            <div class="control has-icons-left">
                                <input type="text" placeholder="12IST5451FFDS" class="input" required name="gst" value="{{customer.gst}}">
                                <span class="icon is-small is-left">
                                <i class="fa fa-envelope"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label for="" class="label">Lead Owner</label>
                            <div class="select is-rounded">
                                <select name="owner" >
                                    
                                      {{#each userData}}
                                            <option value="{{_id}}">{{name}}</option>
                                      {{/each}}
                                </select>
                            </div>
                        </div>

                        <div class="field is-grouped">
                            <div class="control">
                                <button class="button is-link" type="submit">Save</button>
                            </div>
                            <div class="control">
                                <button class="button is-link is-light" type="reset">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
       </div>

</div>

{{>footer}}